
a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: lightgrey;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: darkred;
  background-color: transparent;
  text-decoration: underline;
}

p {
	font-size:100%;
	color:black;
}
